<!--
    Escape Velocity by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Imag!ne</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/Main/")assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <style>
        .sq {
            width: 240px;
            height: 450px;
            background-color: lightgray;
            margin: 25px;
            padding: 0px;
            float: left;
            position: static;
        }
    </style>
</head>
<body class="no-sidebar">
    <div id="page-wrapper">
        @RenderBody()
        <!-- Footer -->
        <div id="footer-wrapper" class="wrapper">
            <div id="footer" class="container">
                <hr />
                <div class="row 150%">
                    <div class="12u 12u(mobile)">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-home">Mailing Address</h3>
                                        <p>
                                            Untitled Corporation<br />
                                            1234 Somewhere Rd #987<br />
                                            Nashville, TN 00000-0000
                                        </p>
                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-comment">Social</h3>
                                        <p>
                                            <a href="#">corp</a><br />
                                            <a href="#">linkedin.com/untitled</a><br />
                                            <a href="#">facebook.com/untitled</a>
                                        </p>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-envelope">Email</h3>
                                        <p>
                                            <a href="#">info@untitled.tld</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-phone">Phone</h3>
                                        <p>
                                            (000) 555-0000
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <hr />
            </div>
            <div id="copyright">
                <ul>
                    <li>&copy; Untitled.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </div>

    </div>

            <!-- Scripts -->

            <script src="@Url.Content("~/Content/Main/")assets/js/jquery.min.js"></script>
            <script src="@Url.Content("~/Content/Main/")assets/js/jquery.dropotron.min.js"></script>
            <script src="@Url.Content("~/Content/Main/")assets/js/skel.min.js"></script>
            <script src="@Url.Content("~/Content/Main/")assets/js/skel-viewport.min.js"></script>
            <script src="@Url.Content("~/Content/Main/")assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="@Url.Content("~/Content/Main/")assets/js/main.js"></script>

</body>
</html>