@model  List<WebApplication3.Models.Game>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div id="header-wrapper" class="wrapper">
    <div id="header">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Imag!ne</a></h1>
            <p>Find the best games for your PC</p>
        </div>

        <!-- Nav -->
        @Html.Partial("_HomeNavPartial")

    </div>
</div>

<!-- Main -->
<div class="wrapper style2">
    <div class="title" style="margin-left: 1%;width:55%;padding:1%">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <input type="text" placeholder="Title Name..." name="Search" style="width:75%;height:50px;float:left;padding: 5px;" />
            <input type="submit" value="Search" style="height:50px;padding-bottom: 5px;margin-left: 5px;" />
        }
    </div>
    <div id="main" class="container">
        <div id="content">
            <article class="box post">

                <div class="12u$ 12u$">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Genre</th>
                                <th>CPU</th>
                                <th>GPU</th>
                                <th>RAM</th>
                                <th>Un-Fav</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <th>@item.Name</th>
                                <th>$@item.Price</th>
                                <th>@item.Genre</th>
                                <th>@item.CPU</th>
                                <th>@item.GPU</th>
                                <th>@item.RAM</th>
                                <th><a href="/Home/RemoveFav1?Gid=@item.Id">Delete</a></th>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </article>

        </div>

    </div>
</div>
